@media screen and (max-width : 1366px){

}

@media screen and (max-width : 935px){

}

@media screen and (max-width: 880px) {

}
 
@media screen and (max-width: 800px) {

}
 
@media screen and (max-width: 780px) {

}
 
@media screen and (max-width: 768px) {
 
}
 
@media screen and (max-width: 740px) {
 
}
 
@media screen and (max-width: 720px) {

}
 
@media screen and (max-width: 640px) {

}
 
@media only screen and (max-width: 620px) {
 
}
 
@media screen and (max-width: 600px) {

}
 
@media screen and (max-width: 568px) {

}
 
@media screen and (max-width: 563px) {
}
 
@media screen and (max-width: 549px) {
 
}
 
@media screen and (max-width: 534px) {

}
 
@media screen and (max-width: 480px) {

}
 
@media screen and (max-width: 360px) {

}
 
@media screen and (max-width: 338px) {
 
}
 
@media screen and (max-width: 330px) {
 
}
 
@media screen and (max-width: 320px) {
 
}